body {
  background: #cccccc;
  background-image: url("1");
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  color: white;
  background: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.view {
  background: rgb(86, 67, 67);
}
form {
  background: rgb(238, 255, 0);
  width: ayto;
  height: auto;
  background: red;
  width: 10cm;
  height: 12cm;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
